body{
    font-size: 24px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

h1{
    font-family: "Fascinate Inline", system-ui;
    font-weight: 400;
    font-style: normal;
}

p{
    margin:0;
   font-family: "Caveat", cursive;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

.progres{
    height: 10px;
    background: limegreen;
    position: fixed;
    top:0;
    left:0;
    right: 0;
    z-index: 1000;
    width:100%;
    scale: 0 1;
    animation: analitzador linear;
    animation-timeline:scroll();
}


@keyframes analitzador{

 to{
scale: 1 1;
transform-origin: center;
 }
}

@media (max-width:480px)
{
    body{
         background-color: red;
        }
}

@media (min-width:481px) and (max-width:1280px)
{
    body{
            background-color: orange;
        }
}

@media (min-width:1280px)
{
    body{
            background-color: green;
        }
}

